<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.mixitconf">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MiXiTApplication"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service
                android:name=".service.NotificationService"
                android:exported="false" />
        <service
                android:name=".service.synchronization.SynchronizationService"
                android:exported="false" />
        <service
                android:name=".service.initialization.DataInitializerService"
                android:exported="false" />

        <service
                android:name=".service.synchronization.SynchronizationJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true" />

        <activity
                android:name=".view.ui.MixitActivity"
                android:label="@string/app_name" />
        <activity
                android:name=".view.ui.AboutActivity"
                android:label="@string/title_about" />
        <activity
                android:name=".view.ui.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.ui.SettingsActivity"
                android:label="@string/title_settings" />
    </application>

</manifest>